<head>
	<title>Dashboard</title>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["gauge"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Speed', 80],
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        setInterval(function() {
          //data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
					document.write(Number(result));
          data.setValue(0, 1, parseInt(result));
          chart.draw(data, options);
        }, 100);
      }
    </script>	
</head>
<body>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"</script>
	<script>window.jQuery || document.write('<script src="{{
		url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>

	<script type=text/javascript>
		$(function() {
			setInterval( function() {
				$.getJSON($SCRIPT_ROOT + '/_random_number', {
				}, function(data) {
					$("#result").text(data.result);
				});
				return false;
			}, 100);
		});
	</script>
	<h1>Dashboard</h1>
	<div id="chart_div" style="width: 400px; height: 120px;"></div>
	<p>
	   <span id=result>?</span>
	</p>
</body>
